@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  text-align: center;
  background-image: asset_url('cat.jpg');
  color: deepskyblue;
  a {
    color: deepskyblue;
  }
  .btn-primary {
    color: white;
  }
}
